<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contas a Pagar</title>
    <div id=topside>LOGO			DATA</div>

</head>
<body bgcolor="#808080">
    {{{body}}}
</body>
</html>