    <p>
	<table id="menu">

	<th>Menu</th>
	
	<tr>
		<td><a href="home" > HOME </a></td>
	</tr>
	<tr>
		<td id="menutd"> <a> Contas </a>
		<p>
		<a href="cadastrarcontas"> Cadastrar Contas </a>
		<p>
		<a href="consultarusuario"> Consultar Contas </a></td>
	</tr>	

	<tr>
		<td id="menutd"> <a> Fornecedor </a>
		<p>
		<a href="cadastrarfornecedor"> Cadastrar Fornecedor </a>
		<p>
		<a href="consultarfornecedores.html"> Consultar Fornecedor </a></td>
	</tr>

	<tr>
		<td id="menutd"> <a> Bancos </a>
		<p>
		<a href="cadastrarbancos"> Cadastrar Bancos </a>
		<p>
		<a href="consultarbancos.html"> Consultar Bancos </a></td>
	</tr>

	<tr>
		<td id="menutd"> <a> Relat칩rios </a>
		<p>
		<a href="relatorio.html"> Gerar relat칩rio </a>	
	</tr>	

	<tr>
		<td id="menutd"> <a href="Portfolio.html"> Gerar ordem de pagamento </a></td>
	</tr>

	</table>

    <script type="text/javascript">
        var valor = documment.getElementByName("busca").value;
    </script>

	<div id="divprincipal">
        <h1>Lista de usu치rios: </h1>
        
        <div id="divBusca">
            <input type="text" id="txtBusca" name="busca"/>
            <button id="btnBusca">Buscar</button>
        </div>
        
        <div id="divTabela" class="maxWidth">
            <table id="tableCons">
                <thead>
                    <tr>
                        <br>
                        <hr>
                        {{#each usuarios}}
                            {{Cracha}}
                            {{Nome}}
                            <a href ="/usuariodeletar/{{Cracha}}"><button>Deletar Usu치rio</button></a>
                            <hr>
                        {{/each}}
                    </tr>
                </thead>
            </table>
        </div>
        
	</div>