    <link rel='stylesheet' type='text/css' media='screen' href='cadastrarcontas.css'>
    
	<h2>Cadastrar Contas</h2>

	<form class="form-cadastro" method="POST" action="/validacontas">
        <br>
        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Código da Conta</label>
                <input type="number" class="form-control" id="validationDefault02" placeholder="Cod. Conta" required name="CodConta">
            </div>
            
			<div class="col-md-3 mb-3">
                <label for="validationDefault02">Fornecedor</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Nome do fornecedor" required name="NomeFornecedor">
            </div>
  		</div>
        
        <div class="form-row">
			<div class="col-md-2 mb-3">
      			<label for="validationDefaultUsername">Valor da Conta</label>
      			<div class="input-group">
        			<div class="input-group-prepend">
          				<span class="input-group-text" id="valconta">R$</span>
        			</div>
        			<input type="text" class="form-control money" id="validationDefaultUsername" placeholder="0,00" aria-describedby="inputGroupPrepend2" required name="ValConta2">
					<input type="hidden" id="ValCont" name="ValConta" value="">
				</div>
    		</div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Juros</label>
                <input type="text" class="form-control percent" id="validationDefault02" placeholder="0%" required name="Juros">
            </div>
            <div class="col-md-2 mb-3">
      			<label for="validationDefaultUsername">Multa</label>
      			<div class="input-group">
        			<div class="input-group-prepend">
          				<span class="input-group-text" id="inputGroupPrepend2">R$</span>
        			</div>
        			<input type="text" class="form-control money" id="validationDefaultUsername" placeholder="0,00" aria-describedby="inputGroupPrepend2" required name="Multa2">
					<input type="hidden" id="Mult" name="Multa" value="">
				</div>
    		</div>
			<div class="col-md-2 mb-3">
      			<label for="validationDefault02">Desconto</label>
                <input type="text" class="form-control percent" id="validationDefault02" placeholder="0%" required name="Desconto">
    		</div>
        </div>

		<div class="form-row">
			<div class="col-md-2.5 mb-3">
				<label for="inputSituacao">Situação da conta</label>
				<select id="inputSituacao" class="form-control" name="Situacao">
					<option>Fechada</option>
					<option>Aberta</option>
					<option>Cancelada</option>
				</select>
			</div>
		</div>


        <div class="form-row">
			<div class="col-md-2 mb-3">
                <label for="validationDefault01">Data de Emissão</label>
                <input type="date" class="form-control" id="dataEmi" placeholder="Data de Emissão" required name="DataEmissao">
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Data de Vencimento</label>
                <input type="date" class="form-control" id="dataVenc" placeholder="Data de Vencimento" required name="DataVencimento">
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-5 mb-3">
				<label for="validationTextarea">Observação</label>
                <textarea class="form-control" id="validationTextarea" placeholder="Observação" name="Observacao"></textarea >
            </div>
            <div class="col-md-5 mb-3">
				<label for="validationTextarea">Descrição</label>
                <textarea class="form-control" id="validationTextarea2" placeholder="Descrição" name="Descricao"></textarea>
        	</div>
		</div>

        <button class="btn btn-primary" onclick="limpaValor()" type="submit">Cadastrar</button>

    </form>

	<script type="text/javascript">
			function limpaValor(){

				val = new String;
				mul = new String;

				val = document.getElementsByName("ValConta2")[0].value;
				mul = document.getElementsByName("Multa2")[0].value;

				val = val.replace(/[,]/g, ".");
				mul = mul.replace(/[,]/g, ".");

				var array = val.split(".");
                var cent = parseFloat(array[1]);
                cent = cent/100; 

				var array2 = mul.split(".");
				var cent2 = parseFloat(array2[1]);
				cent2 = cent2/100; 

				var value = parseFloat(array[0]);
				var multa = parseFloat(array2[0]);

				value = value + cent;
				multa = multa + cent2;
				
				document.getElementsByName("ValConta")[0].value = value.toFixed(2);

				document.getElementsByName("Multa")[0].value = multa.toFixed(2);
				
			}
	</script>