    <link rel='stylesheet' type='text/css' media='screen' href='cadastraragencias.css'>

	<h2>Cadastrar Agência</h2>

    <form class="form-cadastro" method="POST" action="/validaagencias">

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Banco</label>
                <select id="inputSituacao" class="form-control" name="nomeBanco">
					{{#each banco}}
                    <option value="{{_id}}">{{nomeBanco}}</option>
                    {{else}}
                        <option value="">Nenhum banco registrado!</option>
                    {{/each}}
				</select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Código da Agência</label>
                <input type="number" class="form-control" id="validationDefault02" placeholder="Cod. Agência" name="CodAgencia" required>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Número da Agência</label>
                <input type="number" class="form-control" id="validationDefault02" placeholder="Num. Agência" name="NumAgencia" required>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Gerente da Agência</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Ger. Agência" name="GerAgencia" required>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Telefone</label>
                <input type="text" class="form-control phone" id="validationDefault02" placeholder="Telefone" name="Tel" required>
            </div>
        </div>

        <h3>Endereço</h3>

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">CEP</label>
                <input type="text" class="form-control cep" id="validationDefault02" placeholder="CEP" name="CEP" required>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Endereço</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Endereço" name="EnderecoAgencia" required>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault03">Cidade</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="Cidade" name="Cidade" required>
            </div>
            <div class="form-group col-md-2.5">
                <label for="inputEstado">Estado</label>
                <select id="inputEstado" class="form-control" name="Estado">
                    <option selected>Selecione o estado...</option>
                    <option>AC</option>
                    <option>AL</option>
                    <option>AP</option>
                    <option>AM</option>
                    <option>BA</option>
                    <option>CE</option>
                    <option>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MT</option>
                    <option>MS</option>
                    <option>MG</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PR</option>
                    <option>PE</option>
                    <option>PI</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RS</option>
                    <option>RO</option>
                    <option>RR</option>
                    <option>SC</option>
                    <option>SP</option>
                    <option>SE</option>
                    <option>TO</option>
                </select>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>