    <link rel='stylesheet' type='text/css' media='screen' href='cadastrarcontabancaria.css'>

	<h2>Cadastrar Conta Bancária</h2>

    <form class="form-cadastro" method="POST" action="/validabancos">

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Agência</label>
                <select id="inputSituacao" class="form-control" name="agencia" value="{{usuario.Situacao}}">
					<option selected>Selecione a situação da conta.</option>
					<option>Fechada.</option>
					<option>Aberta.</option>
					<option>Cancelada.</option>
				</select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Código da Conta</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Cod. Conta" name="CodContaBanc">
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Número da Conta</label>
                <input type="email" class="form-control" id="validationDefault02" placeholder="Num. Conta" name="NumContaBanc">
            </div>
            <div class="col-md-1 mb-3">
                <label for="validationDefault02">Dígito</label>
                <input type="email" class="form-control" id="validationDefault02" placeholder="Dígito" name="Digito">
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 mb-3">
      			<label for="validationDefaultUsername">Saldo</label>
      			<div class="input-group">
        			<div class="input-group-prepend">
          				<span class="input-group-text" id="inputGroupPrepend2">R$</span>
        			</div>
        			<input type="text" class="form-control money" id="validationDefaultUsername" placeholder="0,00" aria-describedby="inputGroupPrepend2" required name="Saldo">
      			</div>
    		</div>
            <div class="col-md-2.5 mb-3">
				<label for="inputSituacao">Situação da conta:</label>
				<select id="inputSituacao" class="form-control" name="SituacaoConta" value="{{usuario.Situacao}}">
					<option selected>Selecione a situação da conta.</option>
					<option>Ativa.</option>
					<option>Inativa.</option>
				</select>
			</div>
        </div>

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault01">Data de Abertura</label>
                <input type="date" class="form-control" id="dataEmi" placeholder="Data de Abertura" required name="DataAbertura">
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Titular</label>
                <input type="email" class="form-control" id="validationDefault02" placeholder="Titular" name="Titular">
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>