    <link rel='stylesheet' type='text/css' media='screen' href='cadastrarbancos.css'>

	<h2>Cadastrar Banco</h2>

    <form class="form-cadastro" method="POST" action="/validacadastro">

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault01">Código do Banco</label>
                <input type="number" class="form-control" id="validationDefault01" placeholder="Cod. Banco" name="CodBanco">
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Número da Conta</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Num. Conta" name="NumConta">
            </div>
			<div class="col-md-2 mb-3">
                <label for="validationDefault02">Digito</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Digito" name="Digito">
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Código da Agência</label>
                <input type="text" class="form-control cpf" id="validationDefault02" placeholder="Cod. Agência" name="CodAgencia">
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Nome da Agência</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Nome da Agência" name="Nome">
            </div>
        </div>
        
        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="validationDefault01">Gerente da Agência</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Gerente da Agência" name="Gerente">
            </div>
        </div>

		<div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="validationDefault01">Logradouro</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Logradouro" name="Logradouro">
            </div>
        </div>

		<div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationDefault01">Banco</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Banco" name="Banco">
            </div>
			<div class="col-md-3 mb-3">
                <label for="validationDefault01">Número da Agência</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Número da Agência" name="NumAgencia">
            </div>
        </div>

		<br>
        <h3>Tipo</h3>
		<br>

        <div class="form-row">
            <div class="custom-control custom-radio custom-control-inline">
  				<input type="radio" id="radioCNAB240" name="tipoarq" class="custom-control-input" required>
  				<label class="custom-control-label" for="radioCNAB240">CNAB 240</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
  				<input type="radio" id="radioCNAB400" name="tipoarq" class="custom-control-input">
  				<label class="custom-control-label" for="radioCNAB400">CNAB 400</label>
			</div>
        </div>
		<br>

        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>