    <link rel='stylesheet' type='text/css' media='screen' href='cadastrarbancos.css'>

	<h2>Cadastrar Bancos</h2>

    <form class="form-cadastro" method="POST" action="/validabancos">

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Código do Banco</label>
                <input type="number" class="form-control" id="validationDefault02" placeholder="Cod. Banco" name="CodBanco">
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Nome do Banco</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Nome do Banco" name="NomeBanco">
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Número do Banco</label>
                <input type="number" class="form-control" id="validationDefault02" placeholder="Num. Banco" name="NumBanco">
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault02">CNPJ</label>
                <input type="text" class="form-control cnpj" id="validationDefault02" placeholder="CNPJ" name="CNPJn">
            </div>
            <input type="hidden" name="CNPJ" value="">
        </div>

        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationDefault02">Telefone</label>
                <input type="text" class="form-control phone" id="validationDefault02" placeholder="Telefone" name="Telefone">
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">E-mail</label>
                <input type="email" class="form-control" id="validationDefault02" placeholder="E-mail" name="Email">
            </div>
        </div>

        <h3>Tipo</h3>
		<br>

        <div class="form-row">
            <div class="custom-control custom-radio custom-control-inline">
  				<input type="radio" id="radioCNAB240" name="tipoarq" class="custom-control-input" required>
  				<label class="custom-control-label" for="radioCNAB240">CNAB 240</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
  				<input type="radio" id="radioCNAB400" name="tipoarq" class="custom-control-input">
  				<label class="custom-control-label" for="radioCNAB400">CNAB 400</label>
			</div>
        </div>
		<br>
        <br>

        <button class="btn btn-primary" type="submit" onclick="limpaCNPJ()">Cadastrar</button>
    </form>