<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contas a Pagar</title>
        <link rel='stylesheet' type='text/css' media='screen' href='cadastrarusuario.css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />

        <nav class="navbar navbar-dark" style="background-color: #4ABDAC">
                <a class="navbar-brand text-light">Bem Vindo</a>
                <ul class="navbar-nav ml-auto">
                    <a class="navbar-brand text-light"><script>var today = new Date();
                        var dd = today.getDate();
                        var mm = today.getMonth()+1; 
                        var yyyy = today.getFullYear();

                        if(dd<10) {
                            dd = '0'+dd
                        } 

                        if(mm<10) {
                            mm = '0'+mm
                        } 

                        today = dd + '/' + mm + '/' + yyyy;
                        document.write(today);</script>
                    </a>
                </ul>
        </nav>
      <nav class="navbar fixed-bottom navbar-dark" style="background-color: #4ABDAC" id="navbar">
		    <ul class="navbar-nav ml-auto light"></ul>
	    </nav>  
    </head>

    <body style="background-color: #E9E7DA">

{{#if success_msg}}
    <div class="alert alert-success  ">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger  ">{{error_msg}}</div>
{{/if}}

        
            {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
    {{/each}}

        <h2>Cadastrar Usuário</h2>

    

        <form class="form-cadastro" method="POST" action="/cadastrarusuario">

             <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault01">Crachá</label>
                <input type="number" class="form-control" id="validationDefault01" placeholder="Crachá" name="Cracha" required >
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault02">Nome</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Nome" name="Nome" required >
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">CPF</label>
                <input type="text" class="form-control cpf" id="validationDefault02" placeholder="CPF" name="CPFn" required >
            </div>

                        <input type="hidden" name="CPF" value="">


            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Cargo</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Cargo" name="Cargo" required >
            </div>
        </div>
        
          <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault01">Data de Nascimento</label>
                <input type="date" class="form-control" id="validationDefault01" name="DataNascimento" required >
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault01">Data de Admissão</label>
                <input type="date" class="form-control" id="validationDefault01" name="DataAdmissao" required >
            </div>
        </div>

        <h3>Endereço</h3>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Logradouro</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Logradouro" name="Logradouro" required >
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Número</label>
                <input type="number" class="form-control" id="validationDefault02" placeholder="Número" name="Numero" required >
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Bairro</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Bairro" name="Bairro" required >
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Cidade</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Cidade" name="Cidade" required >
            </div>
            <div class="form-group col-md-2.5">
                <label for="inputEstado">Estado</label>
                <select id="inputEstado" class="form-control" name="Estado">
                    <option selected>Selecione o estado...</option>
                    <option>AC</option>
                    <option>AL</option>
                    <option>AP</option>
                    <option>AM</option>
                    <option>BA</option>
                    <option>CE</option>
                    <option>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MT</option>
                    <option>MS</option>
                    <option>MG</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PR</option>
                    <option>PE</option>
                    <option>PI</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RS</option>
                    <option>RO</option>
                    <option>RR</option>
                    <option>SC</option>
                    <option>SP</option>
                    <option>SE</option>
                    <option>TO</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="validationDefault03">E-mail</label>
                <input type="email" class="form-control" id="validationDefault03" placeholder="nome@exemplo.com" name="Email" required >
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault04">Senha</label>
                <input type="password" class="form-control" id="validationDefault04" placeholder="Senha" name="Senha" required >
            </div>

            <div class="col-md-3 mb-3">
                <label for="validationDefault04">Confirmar Senha</label>
                <input type="password" class="form-control" id="validationDefault05" placeholder="Confirmar sua Senha" name="Senha2" required >
            </div>
        </div>

        <button class="btn btn-primary" type="submit" onclick="limpaCPF()">Enviar</button>
    </form>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" integrity="sha256-yE5LLp5HSQ/z+hJeCqkz9hdjNkk1jaiGG0tDCraumnA=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>

        <script type="text/javascript">
                $ (document).ready(function () {
                   $(".cpf") .mask("000.000.000-00")
                   $(".cnpj") .mask("00.000.000/0000-00")
                    $('.money').mask('000.000.000.000.000,00', {reverse: true});
                    $('.percent').mask('#0,00%', {reverse: true});
                    $('.cep').mask('00000-000', {reverse: true});

                    $('.phone').mask('(00) 0000-00009');
                    $('.phone').blur(function(event){

                        if ($(this).val().length == 15){
                            $(".phone").mask("(00) 00000-0009")
                        }
                        else{   
                            $(".phone").mask("(00) 0000-00009")
                        }
                    });
                    $( ".data" ).datepicker({
                        dateFormat: 'dd/mm/yy',
                        showButtonPanel:true
                    });
                });

                 function limpaCPF(){
                    var cp = new String;
                    var resultado = new String;
                    
                    cp = document.getElementsByName("CPFn")[0].value;

                    resultado = cp.replace(/[\-._]/g, "");

                    document.getElementsByName("CPF")[0].value = resultado;
                }  

        </script>
        
    </body>
</html>