    
    <script type="text/javascript">
        var valor = documment.getElementByName("busca").value;
    </script>

	<div id="divprincipal">
        <h1>Lista de usuários: </h1>
        
        <div id="divBusca">
            <input type="text" id="txtBusca" name="busca"/>
            <button id="btnBusca">Buscar</button>
        </div>
        
        <div id="divTabela" class="maxWidth">
            <table id="tableCons">
                <thead>
                    <tr>
                        <br>
                        <hr>
                        {{#each usuario}}	
						<div class="card">
							<div class="card-body">
                            <h4>{{Cracha}}</h4>
                            {{Nome}}
                            <a href ="/usuariodeletar/{{Cracha}}"><button>Deletar Usuário</button></a>
							</div>
						</div>
						{{else}}

                        {{/each}}
                    </tr>
                </thead>
            </table>
        </div>
        
	</div>