	<link rel='stylesheet' type='text/css' media='screen' href='home.css'>
    
    <p>
	<table id="menu">

	<th>Menu</th>
	
	<tr>
		<td><a href="home" > HOME </a></td>
	</tr>
	<tr>
		<td id="menutd"> <a href="contas.html"> Contas </a>
		<p>
		<a href="cadastrarcontas"> Cadastrar Contas </a>
		<p>
		<a href="contas.html"> Consultar Contas </a></td>
	</tr>	

	<tr>
		<td id="menutd"> <a href="fornecedor.html"> Fornecedor </a>
		<p>
		<a href="cadastrarfornecedor"> Cadastrar Fornecedor </a>
		<p>
		<a href="fornecedor.html"> Consultar Fornecedor </a></td>
	</tr>

	<tr>
		<td id="menutd"> <a href="relatorio.html"> Relat칩rios </a>
		<p>
		<a href="relatorio.html"> Gerar relat칩rio </a>	
	</tr>	

	<tr>
		<td id="menutd"> <a href="Portfolio.html"> Gerar ordem de pagamento </a></td>
	</tr>

	</table>

	<div id="divprincipal">
		<h1>Bem-Vindo ADMIN!</h1>
		<h2>H치 contas pr칩ximas de vencer!</h2>
	</div>
	