	<link rel='stylesheet' type='text/css' media='screen' href='home.css'>


	<div class="jumbotron">
  <h1 class="display-4">Bem-Vindo {{Nome}}</h1>
  <p class="lead">Há contas a serem vencidas!</p>
  <hr class="my-4">
  <p>Você tem pedido de contas para serem liberadas!</p>
  <a class="btn btn-primary btn-lg" href="/consultarusuario" role="button">Consultar Usuários</a>
	</div>