<link rel='stylesheet' type='text/css' media='screen' href='home.css'>


	<div class="jumbotron" style="background-color: #4ABDAC">
        <h1 class="display-4">Bem-Vindo!</h1>
          <hr class="my-4">