<link rel='stylesheet' type='text/css' media='screen' href='login.css'>

<div id="divprincipal">
 
 <h1>LOGIN</h1>

 <h3>E-mail:</h3>
 <input type="text" id="maior" />

	<p></p>

 <h3>Senha:</h3>
 <input type="text" id="maior" />
 	<p></p>
 <a href="cadastrarusuario">Cadastrar novo usuário
 	<p></p>

 		<div id="button">
        	<button id="maior" type="button" ><a href="home">Entrar</button>
    	</div>

    <br>

</div>