.form-login {
	width: 100%;
	max-width: 450px;
	padding: 10px;
	margin: auto;
	margin-top: 190px;
  }

  .btn-primary{
	background-color: #4ABDAC !important; 
	color: white !important;
	border-color: #4ABDAC !important;
}

.btn-primary:hover{
	background-color: #EFEFEF !important;
	color: black !important;
}

  .form-login .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
  }
  .form-login .form-control:focus {
	z-index: 2;
  }
  .form-login input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
  }
  .form-login input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
  }