	<link rel='stylesheet' type='text/css' media='screen' href='home.css'>


	<div class="jumbotron" style="background-color: #4ABDAC">
  <h1 class="display-4">Bem-Vindo Admin!</h1>
  <p class="lead">H치 contas a serem vencidas!</p>
  <hr class="my-4">
  {{#each usuario}}
  {{#if LoginStatus}}
  <p>Usu치rio para ser Liberado! Cracha: {{Cracha}} Nome: {{Nome}} 
  <a href ="/liberarcadastro/{{_id}}">
  <button type="button" class="btn btn-warning">Liberar Cadastro</button></a></p>
  {{/if}}
						{{else}}
<p>Nenhum pedido de usu치rios para serem liberados.</p>
            {{/each}}
  <a class="btn btn-primary btn-lg" href="/consultarusuario" role="button">Consultar Usu치rios</a>
	</div>